[submodule "sites/all/modules/austese_collation"]
        path = sites/all/modules/austese_collation
        url = git://github.com/discoverygarden/austese_collation.git
[submodule "sites/all/modules/austese_repository"]
        path = sites/all/modules/austese_repository
        url = git://github.com/discoverygarden/austese_repository.git
[submodule "sites/all/libraries/BagItPHP"]
        path = sites/all/libraries/BagItPHP
        url = git://github.com/scholarslab/BagItPHP.git
[submodule "sites/default/libraries/basex-api"]
        path = sites/default/libraries/basex-api
        url = https://github.com/cwrc/basex-api.git
[submodule "sites/default/modules/custom/block_islandora_options"]
        path = sites/default/modules/custom/block_islandora_options
        url = https://github.com/echidnacorp/block_islandora_options.git
[submodule "sites/all/libraries/bookreader"]
        path = sites/all/libraries/bookreader
        url = https://github.com/Islandora/internet_archive_bookreader.git
[submodule "sites/default/modules/custom/borealis_block_wrappers"]
        path = sites/default/modules/custom/borealis_block_wrappers
        url = https://github.com/cwrc/borealis_block_wrappers.git
        branch = develop
[submodule "sites/all/libraries/citeproc-php"]
        path = sites/all/libraries/citeproc-php
        url = https://github.com/Islandora/citeproc-php.git
[submodule "sites/default/modules/custom/cwrc_admin"]
        path = sites/default/modules/custom/cwrc_admin
        url = https://github.com/cwrc/cwrc_admin.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_baseline"]
        path = sites/default/modules/custom/cwrc_baseline
        url = https://github.com/cwrc/cwrc_baseline.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_components"]
        path = sites/default/modules/custom/cwrc_components
        url = https://github.com/cwrc/cwrc_components.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_core_tweaks"]
        path = sites/default/modules/custom/cwrc_core_tweaks
        url = https://github.com/cwrc/cwrc_core_tweaks.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_dashboards"]
        path = sites/default/modules/custom/cwrc_dashboards
        url = https://github.com/cwrc/cwrc_dashboards.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_eap"]
        path = sites/default/modules/custom/cwrc_eap
        url = https://github.com/cwrc/cwrc_eap.git
        branch = develop
[submodule "sites/default/modules/cwrc_entities"]
        path = sites/default/modules/cwrc_entities
        url = https://github.com/cwrc/cwrc_entities.git
[submodule "sites/default/modules/custom/cwrc_event"]
        path = sites/default/modules/custom/cwrc_event
        url = https://github.com/cwrc/cwrc_event.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_featured_projects"]
        path = sites/default/modules/custom/cwrc_featured_projects
        url = https://github.com/cwrc/cwrc_featured_projects.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_find_replace"]
        path = sites/default/modules/custom/cwrc_find_replace
        url = https://github.com/cwrc/cwrc_find_replace.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_homepage_slider"]
        path = sites/default/modules/custom/cwrc_homepage_slider
        url = https://github.com/cwrc/cwrc_homepage_slider.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_islandora_tweaks"]
        path = sites/default/modules/custom/cwrc_islandora_tweaks
        url = https://github.com/cwrc/cwrc_islandora_tweaks.git
        branch = develop
[submodule "sites/all/modules/cwrc_islandora_xml"]
        path = sites/all/modules/cwrc_islandora_xml
        url = https://github.com/cwrc/cwrc_islandora_xml.git
[submodule "sites/default/modules/custom/cwrc_menu_links"]
        path = sites/default/modules/custom/cwrc_menu_links
        url = https://github.com/cwrc/cwrc_menu_links.git
        branch = develop
[submodule "sites/default/modules/cwrc_migration_batch"]
        path = sites/default/modules/cwrc_migration_batch
        url = https://github.com/cwrc/cwrc_migration_batch.git
[submodule "sites/default/modules/custom/cwrc_news"]
        path = sites/default/modules/custom/cwrc_news
        url = https://github.com/cwrc/cwrc_news.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_node_page"]
        path = sites/default/modules/custom/cwrc_node_page
        url = https://github.com/cwrc/cwrc_node_page.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_notification_rules"]
        path = sites/default/modules/custom/cwrc_notification_rules
        url = https://github.com/cwrc/cwrc_notification_rules.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_permissions"]
        path = sites/default/modules/custom/cwrc_permissions
        url = https://github.com/cwrc/cwrc_permissions.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_projects"]
        path = sites/default/modules/custom/cwrc_projects
        url = https://github.com/cwrc/cwrc_projects.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_search"]
        path = sites/default/modules/custom/cwrc_search
        url = https://github.com/cwrc/cwrc_search.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_search_bar"]
        path = sites/default/modules/custom/cwrc_search_bar
        url = https://github.com/cwrc/cwrc_search_bar.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_solr_site_content"]
        path = sites/default/modules/custom/cwrc_solr_site_content
        url = https://github.com/cwrc/cwrc_solr_site_content.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_theme_compat"]
        path = sites/default/modules/custom/cwrc_theme_compat
        url = https://github.com/cwrc/cwrc_theme_compat.git
        branch = develop
[submodule "sites/default/modules/custom/cwrc_visualization"]
        path = sites/default/modules/custom/cwrc_visualization
        url = https://github.com/cwrc/cwrc_visualization.git
        branch = feature/remove-plotit
[submodule "sites/default/modules/custom/cwrc_workflow_de"]
        path = sites/default/modules/custom/cwrc_workflow_de
        url = https://github.com/cwrc/cwrc_workflow_de.git
        branch = feature/workflowblocklink
[submodule "sites/default/modules/custom/cwrc_xacml"]
        path = sites/default/modules/custom/cwrc_xacml
        url = https://github.com/cwrc/cwrc_xacml.git
        branch = develop
[submodule "sites/default/libraries/CWRC-Mapping-Timelines-Project"]
        path = sites/default/libraries/CWRC-Mapping-Timelines-Project
        url = https://github.com/cwrc/CWRC-Mapping-Timelines-Project.git
[submodule "sites/default/libraries/CWRC-Writer"]
        path = sites/default/libraries/CWRC-Writer
        url = https://github.com/cwrc/CWRC-Writer.git
[submodule "sites/default/modules/custom/de_contextual_help"]
        path = sites/default/modules/custom/de_contextual_help
        url = https://github.com/cwrc/de_contextual_help.git
        branch = develop
[submodule "sites/default/modules/custom/islandora_blocks"]
        path = sites/default/modules/custom/islandora_blocks
        url = https://github.com/echidnacorp/islandora_blocks
[submodule "sites/default/modules/islandora_collection_search"]
        path = sites/default/modules/islandora_collection_search
        url = https://github.com/discoverygarden/islandora_collection_search.git
[submodule "sites/default/modules/islandora_cwrc_basexdb"]
        path = sites/default/modules/islandora_cwrc_basexdb
        url = https://github.com/cwrc/islandora_cwrc_basexdb.git
[submodule "sites/default/modules/islandora_cwrc_document"]
        path = sites/default/modules/islandora_cwrc_document
        url = https://github.com/jefferya/islandora_cwrc_document.git
[submodule "sites/default/modules/islandora_cwrc_writer"]
        path = sites/default/modules/islandora_cwrc_writer
        url = https://github.com/jefferya/islandora_cwrc_writer.git
[submodule "sites/default/modules/custom/islandora_object_field"]
        path = sites/default/modules/custom/islandora_object_field
        url = https://github.com/cwrc/islandora_object_field.git
        branch = develop
[submodule "sites/default/modules/islandora_plotit"]
        path = sites/default/modules/islandora_plotit
        url = https://github.com/cwrc/islandora_plotit.git
[submodule "sites/default/modules/custom/islandora_saved_searches"]
        path = sites/default/modules/custom/islandora_saved_searches
        url = https://github.com/echidnacorp/islandora_saved_searches
[submodule "sites/default/modules/custom/og_global_roles"]
        path = sites/default/modules/custom/og_global_roles
        url = https://github.com/cwrc/og_global_roles.git
        branch = develop
[submodule "sites/default/modules/custom/translation_settings"]
        path = sites/default/modules/custom/translation_settings
        url = https://github.com/cwrc/translation_settings.git
        branch = develop
[submodule "sites/default/modules/custom/webforms"]
        path = sites/default/modules/custom/webforms
        url = https://github.com/cwrc/webforms.git
        branch = develop
[submodule "sites/all/modules/cwrc_workflow"]
        path = sites/all/modules/cwrc_workflow
        url = https://github.com/cwrc/cwrc_workflow.git
[submodule "sites/all/libraries/CWRC-Dialogs"]
        path = sites/all/libraries/CWRC-Dialogs
        url = https://github.com/cwrc/CWRC-Dialogs
[submodule "sites/all/libraries/CWRC-Mapping-Timelines-Project"]
        path = sites/all/libraries/CWRC-Mapping-Timelines-Project
        url = https://github.com/cwrc/CWRC-Mapping-Timelines-Project.git
[submodule "sites/all/libraries/CWRC-Writer"]
        path = sites/all/libraries/CWRC-Writer
        url = https://github.com/discoverygarden/CWRC-Writer.git
[submodule "sites/all/modules/islandora_critical_edition/CWRC-Writer_test"]
        path = sites/all/modules/islandora_critical_edition/CWRC-Writer_test
        url = https://github.com/cwrc/CWRC-Writer.git
[submodule "sites/all/themes/custom/de_theme"]
        path = sites/all/themes/custom/de_theme
        url = https://github.com/cwrc/de_theme.git
        branch = develop
[submodule "sites/all/modules/emic_theme_feature"]
        path = sites/all/modules/emic_theme_feature
        url = git://github.com/discoverygarden/emic_theme_feature.git
[submodule "sites/all/themes/emic-theme"]
        path = sites/all/themes/emic-theme
        url = git://github.com/DGI-EMiC/emic-theme.git
[submodule "sites/all/modules/emicdora"]
        path = sites/all/modules/emicdora
        url = git://github.com/discoverygarden/emicdora.git
[submodule "sites/all/modules/islandora"]
        path = sites/all/modules/islandora
        url = git://github.com/Islandora/islandora.git
[submodule "sites/all/modules/islandora_bagit"]
        path = sites/all/modules/islandora_bagit
        url = https://github.com/Islandora/islandora_bagit.git
[submodule "sites/all/modules/islandora_batch"]
        path = sites/all/modules/islandora_batch
        url = git://github.com/discoverygarden/islandora_batch.git
[submodule "sites/all/modules/islandora_binary_object"]
        path = sites/all/modules/islandora_binary_object
        url = https://github.com/discoverygarden/islandora_binary_object.git
[submodule "sites/all/modules/islandora_book_batch"]
        path = sites/all/modules/islandora_book_batch
        url = git://github.com/discoverygarden/islandora_book_batch.git
[submodule "sites/all/modules/islandora_bookmark"]
        path = sites/all/modules/islandora_bookmark
        url = git://github.com/Islandora/islandora_bookmark.git
[submodule "sites/all/modules/islandora_critical_edition"]
        path = sites/all/modules/islandora_critical_edition
        url = https://github.com/discoverygarden/islandora_critical_edition.git
[submodule "sites/all/modules/islandora_critical_edition_advanced"]
        path = sites/all/modules/islandora_critical_edition_advanced
        url = https://github.com/discoverygarden/islandora_critical_edition_advanced.git
[submodule "sites/all/modules/islandora_cwrc_writer"]
        path = sites/all/modules/islandora_cwrc_writer
        url = git://github.com/discoverygarden/islandora_cwrc_writer.git
[submodule "sites/all/modules/islandora_fits"]
        path = sites/all/modules/islandora_fits
        url = git://github.com/Islandora/islandora_fits.git
[submodule "sites/all/modules/islandora_image_annotation"]
        path = sites/all/modules/islandora_image_annotation
        url = git://github.com/discoverygarden/islandora_image_annotation.git
[submodule "sites/all/modules/islandora_importer"]
        path = sites/all/modules/islandora_importer
        url = git://github.com/Islandora/islandora_importer.git
[submodule "sites/all/modules/islandora_internet_archive_bookreader"]
        path = sites/all/modules/islandora_internet_archive_bookreader
        url = git://github.com/Islandora/islandora_internet_archive_bookreader.git
[submodule "sites/all/modules/islandora_ip_embargo"]
        path = sites/all/modules/islandora_ip_embargo
        url = https://github.com/Islandora/islandora_ip_embargo.git
[submodule "sites/all/modules/islandora_jwplayer"]
        path = sites/all/modules/islandora_jwplayer
        url = git://github.com/Islandora/islandora_jwplayer.git
[submodule "sites/all/modules/islandora_markup_editor"]
        path = sites/all/modules/islandora_markup_editor
        url = https://github.com/discoverygarden/islandora_markup_editor.git
[submodule "sites/all/modules/islandora_oai"]
        path = sites/all/modules/islandora_oai
        url = git://github.com/Islandora/islandora_oai.git
[submodule "sites/all/modules/islandora_object_lock"]
        path = sites/all/modules/islandora_object_lock
        url = https://github.com/echidnacorp/islandora_object_lock.git
[submodule "sites/all/modules/islandora_ocr"]
        path = sites/all/modules/islandora_ocr
        url = git://github.com/Islandora/islandora_ocr.git
[submodule "sites/all/modules/islandora_openseadragon"]
        path = sites/all/modules/islandora_openseadragon
        url = git://github.com/Islandora/islandora_openseadragon.git
[submodule "sites/all/modules/islandora_paged_content"]
        path = sites/all/modules/islandora_paged_content
        url = git://github.com/Islandora/islandora_paged_content.git
[submodule "sites/all/modules/contrib/islandora_patches"]
        path = sites/all/modules/contrib/islandora_patches
        url = https://github.com/Islandora-Labs/islandora_patches.git
[submodule "sites/all/modules/islandora_plupload"]
        path = sites/all/modules/islandora_plupload
        url = https://github.com/discoverygarden/islandora_plupload.git
[submodule "sites/all/modules/islandora_rest"]
        path = sites/all/modules/islandora_rest
        url = https://github.com/discoverygarden/islandora_rest.git
[submodule "sites/all/modules/islandora_scholar"]
        path = sites/all/modules/islandora_scholar
        url = https://github.com/discoverygarden/islandora_scholar.git
[submodule "sites/all/modules/islandora_simple_workflow"]
        path = sites/all/modules/islandora_simple_workflow
        url = git://github.com/Islandora/islandora_simple_workflow.git
[submodule "sites/all/modules/islandora_solr_facet_pages"]
        path = sites/all/modules/islandora_solr_facet_pages
        url = https://github.com/Islandora/islandora_solr_facet_pages.git
[submodule "sites/all/modules/islandora_solr_metadata"]
        path = sites/all/modules/islandora_solr_metadata
        url = https://github.com/Islandora/islandora_solr_metadata.git
[submodule "sites/all/modules/islandora_solr_search"]
        path = sites/all/modules/islandora_solr_search
        url = https://github.com/Islandora/islandora_solr_search.git
[submodule "sites/all/modules/islandora_solr_views"]
        path = sites/all/modules/islandora_solr_views
        url = https://github.com/Islandora/islandora_solr_views.git
[submodule "sites/all/modules/islandora_solution_pack_audio"]
        path = sites/all/modules/islandora_solution_pack_audio
        url = git://github.com/Islandora/islandora_solution_pack_audio.git
[submodule "sites/all/modules/islandora_solution_pack_book"]
        path = sites/all/modules/islandora_solution_pack_book
        url = git://github.com/Islandora/islandora_solution_pack_book.git
[submodule "sites/all/modules/islandora_solution_pack_collection"]
        path = sites/all/modules/islandora_solution_pack_collection
        url = https://github.com/Islandora/islandora_solution_pack_collection.git
[submodule "sites/all/modules/islandora_solution_pack_compound"]
        path = sites/all/modules/islandora_solution_pack_compound
        url = https://github.com/Islandora/islandora_solution_pack_compound.git
[submodule "sites/all/modules/islandora_solution_pack_entities"]
        path = sites/all/modules/islandora_solution_pack_entities
        url = https://github.com/islandora/islandora_solution_pack_entities.git
[submodule "sites/all/modules/islandora_solution_pack_image"]
        path = sites/all/modules/islandora_solution_pack_image
        url = git://github.com/Islandora/islandora_solution_pack_image.git
[submodule "sites/all/modules/islandora_solution_pack_large_image"]
        path = sites/all/modules/islandora_solution_pack_large_image
        url = git://github.com/Islandora/islandora_solution_pack_large_image.git
[submodule "sites/all/modules/islandora_solution_pack_newspaper"]
        path = sites/all/modules/islandora_solution_pack_newspaper
        url = https://github.com/Islandora/islandora_solution_pack_newspaper.git
[submodule "sites/all/modules/islandora_solution_pack_pdf"]
        path = sites/all/modules/islandora_solution_pack_pdf
        url = git://github.com/Islandora/islandora_solution_pack_pdf.git
[submodule "sites/all/modules/islandora_solution_pack_video"]
        path = sites/all/modules/islandora_solution_pack_video
        url = git://github.com/Islandora/islandora_solution_pack_video.git
[submodule "sites/all/modules/islandora_user_entity_link"]
        path = sites/all/modules/islandora_user_entity_link
        url = https://github.com/discoverygarden/islandora_user_entity_link.git
[submodule "sites/all/modules/islandora_xacml_editor"]
        path = sites/all/modules/islandora_xacml_editor
        url = git://github.com/Islandora/islandora_xacml_editor.git
[submodule "sites/all/modules/islandora_xml_forms"]
        path = sites/all/modules/islandora_xml_forms
        url = git://github.com/Islandora/islandora_xml_forms.git
[submodule "sites/all/modules/islandora_xquery"]
        path = sites/all/modules/islandora_xquery
        url = https://github.com/echidnacorp/islandora_xquery.git
[submodule "sites/all/modules/migrate_books_to_d7"]
        path = sites/all/modules/migrate_books_to_d7
        url = https://github.com/ajstanley/migrate_books_to_d7.git
[submodule "sites/all/modules/objective_forms"]
        path = sites/all/modules/objective_forms
        url = git://github.com/Islandora/objective_forms.git
[submodule "sites/all/modules/php_lib"]
        path = sites/all/modules/php_lib
        url = git://github.com/Islandora/php_lib.git
[submodule "sites/all/modules/tei_content"]
        path = sites/all/modules/tei_content
        url = http://git.drupal.org/sandbox/christof.s/1118172.git
[submodule "sites/all/libraries/tuque"]
        path = sites/all/libraries/tuque
        url = https://github.com/Islandora/tuque.git
[submodule "sites/default/libraries/islandora_cwrc_xslt_library"]
        path = sites/default/libraries/islandora_cwrc_xslt_library
        url = https://github.com/cwrc/islandora_cwrc_xslt_library.git
[submodule "sites/default/modules/islandora_xslt_paths"]
        path = sites/default/modules/islandora_xslt_paths
        url = https://github.com/jefferya/islandora_xslt_paths.git
[submodule "sites/default/modules/custom/cwrc_field_filler"]
        path = sites/default/modules/custom/cwrc_field_filler
        url = https://github.com/cwrc/cwrc_field_filler.git
