# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore Multisite files
sites/digitalpage.ca
sites/example.sites.php
sites/modernistcommons.ca
sites/spanishcivilwar.ca
