
#emicdora_collatex_iframe {
  width: 105%;
  height: 1200px;
  border: 0 none;
}

.emicdora_button {
  width: 125px;
}

.x-css-shadow{
  display:none !important;
}

#menu-1033 {
  width:300px;
}

#menu-1033-innerCt {
  width:300px !important;
}

#menu-1033-targetEl {
  width:300px !important;
}

/* Full Screen Styling */

#full-window-button
{
 float: top;
  margin: 5px 5px 5px 0px;
}

.emicdora-collation_fullwindow
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top-padding: 20px;
  top: 5px;
  z-index: 10;
  background: #fff;
}

.emicdora-collation_fullwindow
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;

  width: 100%;
  z-index: 60;

  background: #fff;
}

.emicdora-collation_fullwindow
{
  position: absolute;
  width: 100%;
   height: 100% !important;
}

.collation_resize {
  width: 102%;
  height: 150px;
  padding: 0.5em;
  overflow: scroll;
}
.merged_resize {
  width: 102%;
  height: 50px;
  padding: 0.5em;
  overflow: hidden;
}

.emicdora_button {
-moz-user-select: none;
background-color: #e6e6e6;
background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.15) 40%, transparent);
border: medium none rgba(0, 0, 0, 0);
border-radius: 4px;
box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset, 0 2px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.15);
color: rgba(0, 0, 0, 0.8);
cursor: pointer;
display: inline-block;
font-size: 100%;
line-height: normal;
padding: 0.4em 1em 0.45em;
text-align: center;
text-decoration: none;
transition: box-shadow 0.1s linear 0s;
vertical-align: baseline;
white-space: nowrap;
}
.variant {
  color: #4E9258;
}
.merged {
  color: #C11B17;
}
.variant_selected {
  background-color: lightgray;
}
.merged_selected {
  background-color: lightblue;
}
.field_label{
  width: 20%;
  padding-left:3%;
}
